@charset "utf-8";
/* CSS Document */
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,textarea,figure{
    margin:0;
    padding:0;
}
body{
    font-family:"微软雅黑",Arial;
    width:100%;
}
a{
    text-decoration:none;
}
/*li{
    list-style:none;
}*/
img{
    border:none;
}
.header{
  width:1263%;
  height:715px;
  background:url(../img/login_2.png);
  
}
